# Dataframes

In [10]:
import pandas as pd
x=[10,20,30,40,50]
a=pd.DataFrame(x)
a

    0
0  10
1  20
2  30
3  40
4  50

In [14]:
import pandas as pd
x=[10,20,30,40,50]
a=pd.DataFrame(x,dtype="float")
a

      0
0  10.0
1  20.0
2  30.0
3  40.0
4  50.0

In [15]:
import pandas as pd
x=[10,20,30,40,50]
a=pd.DataFrame(x)
type(a)

pandas.core.frame.DataFrame

In [37]:
import pandas as pd
x={"A": [1,2,3,4,5], "B": [10,20,30,40,50]}
a=pd.DataFrame(x,index=["i","ii","iii","iv","v"])
print(type(a))
a

<class 'pandas.core.frame.DataFrame'>

     A   B
i    1  10
ii   2  20
iii  3  30
iv   4  40
v    5  50

In [25]:
import pandas as pd
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x,columns=["B","D"],index=["i","ii","iii"])   #Appending a series "D" in DataFrame
a

      B     D
i    10  1000
ii   20  2000
iii  30  3000

In [26]:
import pandas as pd
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x,columns=["B","E"],index=["i","ii","iii"])   #Appending a empty series "E" in DataFrame
a

      B    E
i    10  NaN
ii   20  NaN
iii  30  NaN

In [33]:
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x,columns=["D","C","B","A"],index=["i","ii","iii"])   
a

        D    C   B  A
i    1000  100  10  1
ii   2000  200  20  2
iii  3000  300  30  3

In [34]:
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x)  
b=a["A"][1]        #indexing of a DataFrame
b

2

In [35]:
import pandas as pd
x=[[10,20,30,40,50],[100,200,300,400,500]]
a=pd.DataFrame(x)        # nesting list dataframe
a

     0    1    2    3    4
0   10   20   30   40   50
1  100  200  300  400  500