# Insertion and deletion of data in Panda

## Insertion

In [6]:
import pandas as pd
x=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
x.insert(1,"New",[11,12,13,14,15])       # 1= at whaat index you want to insert data, "New"= Name of list, and at the end list you want to insert  
x

   a  New   b
0  1   11   6
1  2   12   7
2  3   13   8
3  4   14   9
4  5   15  10

Note: During insertion remember one thing that the no. of data you insert in DataFrame should be equal to the number of elements in each series of DataFrame

#### Copy of data from another series of DataFrame

In [11]:
import pandas as pd
x=pd.DataFrame({"a":[1,2,3,4,5],"b":[6,7,8,9,10]})
x["New"]=x["a"][:3]
x

   a   b  New
0  1   6  1.0
1  2   7  2.0
2  3   8  3.0
3  4   9  NaN
4  5  10  NaN

## Deletion

There is two methods of deletion of data :
1. by using pop function
2. by using del function

In [8]:
import pandas as pd
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x,columns=["D","C","B","A"],index=["i","ii","iii"])   
a.pop("A")
a

        D    C   B
i    1000  100  10
ii   2000  200  20
iii  3000  300  30

In [6]:
import pandas as pd
x={"A":[1,2,3],"B":[10,20,30],"C":[100,200,300],"D":[1000,2000,3000]}
a=pd.DataFrame(x,columns=["D","C","B","A"],index=["i","ii","iii"])   
del a["A"]
a

        D    C   B
i    1000  100  10
ii   2000  200  20
iii  3000  300  30