# Pandas Introduction

In [12]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x)
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x)
print(a)
type(a)    #type

0    1
1    2
2    3
3    4
4    5
dtype: int64

pandas.core.series.Series

In [14]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x)
a[2]   #indexing

3

In [19]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x, dtype="float")   #print elements as float
a

3.0

In [20]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x, dtype="float", name="Python")   #print name of series
a

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
Name: Python, dtype: float64

In [22]:
import pandas as pd
x={"Name": "Rahul", "Class": "12th", "Roll no": 26, "City": "Delhi"}
a=pd.Series(x, name="Rahul")   #print dictionary
a

Name       Rahul
Class       12th
Roll no       26
City       Delhi
Name: Rahul, dtype: object

In [23]:
import pandas as pd 
x={"Name":["Vijay", "Rishabh", "Avnee", "Putin"], "Class": [12,10,12,11],"City": ["Delhi", "Uttar Pradesh","Haryana","Russia"]}
a=pd.Series(x)    #Passing list in dictionary
a

Name              [Vijay, Rishabh, Avnee, Putin]
Class                           [12, 10, 12, 11]
City     [Delhi, Uttar Pradesh, Haryana, Russia]
dtype: object

In [25]:
import pandas as pd
x=[1,2,3,4,5]
a=pd.Series(x,index=["a","b","C","d","e"])    #print custom index 
a

a    1
b    2
C    3
d    4
e    5
dtype: int64

In [27]:
import pandas as pd
a=pd.Series(50,index=["a","b","C","d","e"])    #print custom index 
a

a    50
b    50
C    50
d    50
e    50
dtype: int64